header {
  background: #edf1f8;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 40;
}

header nav {
  margin: 0 1em;
}
header nav ul {
  list-style-type: none;
  overflow: hidden;
}
header nav ul li {
  display: inline-block;
}
header nav ul>:not(:last-child) {
  margin-right: 15px;
}

