h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  font-family: 'Rubik', sans-serif;

  -webkit-background-clip: text;
  background-clip: text;

  background-image: linear-gradient(90deg, #14ffe9, #ffeb3b, #ff00e0, #14ffe9);

  background-size: 200%;
  background-position: 0%;

  animation: textGradientAnimation 5s infinite ease;

  color: transparent;
}

@keyframes textGradientAnimation {
  from {
    background-position: 100%;
  }
  to {
    background-position: -100%;
  }
}

.button-audio-play {
  border: none;
  background-color: none;
  margin-left: 4px;
}

.photo {
  border-radius: 16px;
  float: left;
  margin-right: 1em;
  margin-bottom: .5em;
  width: 50%;
}

.nowrap {
  white-space: nowrap;
}

@media screen and (max-width: 400px) {
  figure {
    display: flex;
    justify-content: center;
  }
  .photo {
    float: none;
    margin: 0 auto;
    width: 100%;
  }
}
