h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  font-family: 'Rubik', sans-serif;

  -webkit-background-clip: text;
  background-clip: text;

  background-image: linear-gradient(90deg, #14ffe9, #ffeb3b, #ff00e0, #14ffe9);

  background-size: 200%;
  background-position: 0%;

  animation: textGradientAnimation 5s infinite ease;

  color: transparent;
}

@keyframes textGradientAnimation {
  from {
    background-position: 100%;
  }
  to {
    background-position: -100%;
  }
}

.button-audio-play {
  border: none;
  background-color: none;
  margin-left: 4px;
}
